
.container{
    @media (max-width: 1200px) {
        width: 100%;
        max-width: 1112px;
        margin: 0 auto;
        .sidebar{
            position: absolute;
            top: 0px;
            left:-412px;
            z-index: 2;
            transition: all 0.6s ease-in;
            .sidebar__list-items{
                min-height: auto;
            }
            &.show{
                position: fixed;
                top: 0px;
                left:0;
                transition: all 0.6s ease-in;
            } 
        }  
    }
    .content{
        .content__control-top{
            .sidebar__btn{
                display: none;
                @media screen and (max-width: 1200px) {
                  display: block;
                  width: 30px;
                  height: 30px;
                  position:fixed;
                  top:100px;
                  z-index: 2;
                  margin-top: 1%;
                  transition: all 1s ease-in;
                }
                &.show{
                position: fixed; 
                top:0;
                left: 7px;
                transition: all 0.4s ease-in;
                  span:first-of-type{
                    top: 50%;
                    transform:translate(-50%, -50%) rotate(45deg)    
                  }
                  span:nth-of-type(2){
                    opacity: 0;
                  }
                  span:last-of-type{
                    top: 50%;
                    transform:translate(-50%, -50%) rotate(-45deg)
                  } 
                } 
                span{
                  left: 50%;
                  transform: translate(-50%);
                  width: 30px;
                  height: 2px;
                  position: absolute;
                  top: 0%;
                  left: 50%;
                  background-color: #000;
                  transition: all 0.5s;
                  outline: 1px solid #FFFFFF;
                  &:nth-of-type(2){
                    top:calc(50% - 5px);
                  }
                  &:nth-of-type(3){
                    top:calc(50% + 5px);
                  }
                } 
            }
        }
    }
    .content__mobile{
        display: none;
        @media (max-width: 1200px) {
            display: block;
            margin: 0 10px;
            font-size: 15px;
            margin-bottom: 30px;
        }
    }
    .content__data-list{
        .list__item{
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 1px solid #EEEEEE;
            &:first-child{
                color: #B5B7C0;
                border: none;
                @media (max-width: 864px) {
                    padding-bottom: 0;
                    li:last-child{
                        @media (max-width: 864px) {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
            .list__item-name,
            .list__item-contacts,
            .list__item-other{
                display: flex;
                @media (max-width: 864px) {
                    flex-direction: column;
                }
                li{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    @media (max-width: 992px) {
                        font-size: 12px;
                    }
                    @media (max-width: 380px) {
                        font-size: 10px;
                    }
                    &:first-child{
                        flex:1;
                    }
                    &:nth-child(2){
                        flex:1;
                    }
                    &:nth-child(3){
                        flex:1;
                    }
                    &:nth-child(4){
                        flex:2;
                    }
                    &:nth-child(5){
                        flex:1;
                    }
                    &:last-child{
                        flex:1;
                    }
                }
            }
            .list__item-name{
                flex: 3;
            }
            .list__item-contacts{
                flex: 4;
            }
            .list__item-other{
                flex: 3;
                li:first-child{
                    flex:2;
                }
                @media (max-width: 865px) {
                    flex:1;
                }
            }
            button{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                @media (max-width: 800px) {
                    font-size: 12px;
                }
                @media (max-width: 380px) {
                    font-size: 10px;
                }
                &.active{
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    &::before{
                        content:"Active";
                        color: #008767;
                    }       
                }
                &.inactive{
                    width: 80px;
                    height: 29px;
                    background: #FFC5C5;
                    border: 1px solid #DF0404;
                    border-radius: 4px;
                    &::before{
                        content:"Inactive";
                        color: #DF0404;
                    } 
                }
            }    
        } 
    }
    .content__control-bottom {
        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            align-items: center;
            span{
                margin-top: 20px;
            }
        }
        &.desktop{
            @media screen and (max-width: 1200px) {
                display: none;
            }
        } 
    }       
}