body{
    a{
        text-decoration: none;
    }
}

.container{
    max-width:1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: 1200px) {
        display: block;
       }
    .sidebar{
        width: 308px;
        min-height: 100%;
        margin-right: 71px;
        background-color: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
        h1{
            margin: 36px 0 52px 31px;
            position: relative;
            padding-left: 44px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 39px;
            letter-spacing: 0.01em;
            color: #000000;
            &::before{
                content:"";
                position: absolute;
                width: 37px;
                height: 37px;
                top:0;
                left:0;
                background: url(../img/screw.svg);
            }
            span{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: -0.01em;
                color: #838383;
            }
        }
        &__list-items {
            padding:0 28px;
            min-height: 954px;
            a{  
                display: flex;
                margin-bottom: 18px;
                padding: 9px 0 7px 0;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                color: #9197B3;
                &:hover{
                    background-color:#5932EA;
                    color:#FFFFFF;
                    border-radius: 8px;
                    path{
                        stroke: #FFFFFF;
                    }
                }
                span{
                    margin-left: 13px;
                    flex: 1;
                }
                span+span{
                    padding-top: 3px;
                    margin-left: 14px;
                    flex: 7;
                }
                span+span+span{
                    flex: 1;
                    margin-top: 2px;
                }
            }
        }
        .sidebar__footer{
            display: flex;
            margin-bottom: 76px;
            .sidebar__footer-img{
                margin-left: 29px;
            }
            .sidebar__footer-info{
                margin-left: 13px;
                .sidebar__username{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 0.01em;
                }
                .sidebar__description{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.01em;
                    color: #757575;
                }
            }
        }
    }
    .content{
        width: auto;
        @media screen and (max-width: 1200px) {
            width: auto;
            margin: 0 10px;
           }
           .content__greeting{
            margin: 41px 0 51px 0;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            }
            .content__control-top{
                display:none;
                @media screen and (max-width:1200px) {
                    display: flex;
                    justify-content:flex-start;
                    align-items:flex-start;
                    flex-wrap: wrap;
                    margin-bottom: 20px;                    
                }
            }
        .content__wrapper{
            width: auto;
            position: relative;
            padding: 0 40px;
            box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
            border-radius: 30px;
            &::before{
                content: "";
                position: absolute;
                top: 165px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #EEEEEE;
                @media screen and (max-width: 1200px) {
                    top: 185px;
                }
                @media screen and (max-width: 860px) {
                    top: 210px;
                }
                @media screen and (max-width: 800px) {
                    top: 212px;
                }
                @media screen and (max-width: 636px) {
                    top: 280px;
                }
            }
            @media screen and (max-width: 730px) {
                padding: 0;
                .content__header{
                    margin-left: 10px;
                }
               }
            .content__header{
                display: flex;
                justify-content: space-between;
                align-items:center;
                margin-bottom: 40px;
                @media (max-width: 637px) {
                    flex-direction: column;
                    align-items:flex-start;
                }
                p{  
                    padding-top: 30px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 33px;
                    letter-spacing: -0.01em;
                }
                p+p{
                    padding: 0;
                    margin-top: 7px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #16C098;
                }
                form{
                    position: relative;
                    margin-top: 34px;
                    margin-right: 10px;
                    input{
                        padding: 10px 12px 10px 41px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: -0.01em;
                        color: #B5B7C0;
                        text-align: left;
                        background: #F9FBFF;
                        border-radius: 10px;
                        border: none;
                        &::placeholder{
                            font-size: 12px;
                        }
                        &:focus{
                            outline: 2px solid #000000;
                        }
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 8px;
                        left: 10px;
                        background: url(../img/search.svg) no-repeat;
                        width: 30px;
                        height: 30px;
                    } 
                }   
            }
            .content__desktop{
                &_data{
                     @media screen and (max-width: 1200px) {
                        display: none;
                        }
                    table{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: -0.01em;
                        text-align: left;
                        width: 100%;
                        thead{
                            padding-bottom: 14px;
                            tr{ 
                                color: #B5B7C0;
                                th{
                                    height: 35px;
                                    &:last-child{
                                        padding-left: 13px;
                                    }
                                }
                            }
                        }
                        tbody{
                            tr{
                                border-bottom: 1px solid #EEEEEE;
                                cursor: pointer;
                                td{
                                    height: 68px;
                                    vertical-align: middle;
                                    color: #292D32;
                                    a{
                                        font-weight: bold;   
                                    }
                                    button{
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 21px;
                                        letter-spacing: -0.01em;
                                        &.active{
                                            width: 80px;
                                            height: 29px;
                                            background: rgba(22, 192, 152, 0.38);
                                            border: 1px solid #00B087;
                                            border-radius: 4px;
                                            &::before{
                                                content:"Active";
                                                color: #008767;
                                            }       
                                        }
                                        &.inactive{
                                            width: 80px;
                                            height: 29px;
                                            background: #FFC5C5;
                                            border: 1px solid #DF0404;
                                            border-radius: 4px;
                                            &::before{
                                                content:"Inactive";
                                                color: #DF0404;
                                            } 
                                        }
                                    }
                                    &:first-child{
                                        width: 170px;
                                    }
                                    &:nth-child(2){
                                        width: 131px;
                                    }
                                    &:nth-child(3){
                                        width: 158px;
                                    } 
                                    &:nth-child(4){
                                        width: 205px;
                                    }
                                    &:nth-child(5){
                                        width: 140px;
                                    }     
                                }
                            } 
                        }   
                    }
                }       
            }
            .content__control-bottom {
                display: flex;
                justify-content: space-between;
                padding: 30px 0 40px 0;   
                span{
                    margin-right: 12px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #B5B7C0;
                }
                .control__pages{
                    display: flex;
                    li{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 100%;
                        margin-right: 7px;
                        list-style: none;
                        &:last-child{
                            margin: 0;
                        }
                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 26px;
                            height: 24px;
                            background: #F5F5F5;
                            border: 1px solid #EEEEEE;
                            border-radius: 4px;
                            color: #404B52;
                        }
                        &.focus a {
                            background: #5932EA;
                            border: 1px solid #5932EA;
                            border-radius: 4px;
                            color: #FFFFFF;
                            path{
                                fill: #FFFFFF;
                            }
                        }
                    }
                    span{
                        margin-top: 3px;
                        color: #000000;
                    }
                }
            }
        }
    }
}      