@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/Circe_regular/Circe-Regular.eot');
    src: url('../fonts/Circe_regular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe_regular/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe_regular/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/Circe_bold/Circe-Bold.eot');
    src: url('../fonts/Circe_bold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe_bold/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe_bold/Circe-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}