@import url(../scss/reset.css);
@import url(../scss/fonts.css);
@import url(../scss/style_mobile.css);
body {
  background-color: #151515;
  color: #fff;
  font-family: 'Circe Regular';
}

body a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1089px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  margin-bottom: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .sidebar {
  margin-right: 57px;
  background-color: #1D1C1C;
  white-space: nowrap;
}

.container .sidebar__list-item {
  padding: 49px 39px 53px 30px;
  border-bottom: 1px solid #242424;
}

.container .sidebar__list-item:first-child {
  position: relative;
  padding: 0;
  border: 1px solid #DB9351;
  overflow: hidden;
}

.container .sidebar__list-item:first-child img {
  display: block;
}

.container .sidebar__list-item:first-child::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 19px;
  background: url(../img/check.svg);
  width: 19px;
  height: 13px;
}

.container .sidebar__list-item:nth-child(2) {
  padding: 0;
}

.container .sidebar__list-item:nth-child(2) a {
  display: block;
  padding: 49px 39px 53px 30px;
}

.container .sidebar__list-item:last-child {
  background-color: #DB9351;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.container .sidebar__list-item:last-child a {
  display: block;
  padding: 53px 43px;
}

.container .sidebar__list-item span {
  margin-left: 60px;
}

.container .sidebar__list-item ul li {
  margin-bottom: 22px;
}

.container .sidebar__list-item ul li:last-child {
  margin: 0;
}

.container .sidebar .active a {
  color: #DB9351;
  font-weight: bold;
}

.container .content__desktop .content {
  width: 819px;
}

.container .content__desktop .content__control-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Circe Regular';
  font-size: 14px;
  margin-bottom: 22px;
}

.container .content__desktop .content__control-top li {
  margin-right: 18px;
  cursor: pointer;
}

.container .content__desktop .content__control-top li:first-child {
  color: #FF5B5C;
}

.container .content__desktop .content__control-top li:nth-child(2) {
  margin-right: 92px;
}

.container .content__desktop .content__control-top li:nth-child(3) {
  color: #DB9351;
}

.container .content__desktop .content__control-top li:nth-child(4) {
  color: #959595;
  margin-right: 209px;
}

.container .content__desktop .content__control-top form {
  width: 100%;
  max-width: 123px;
  position: relative;
}

.container .content__desktop .content__control-top form input {
  width: 127%;
  background: transparent;
  border: 1px solid #DB9351;
  margin: 0;
  padding: 7px 27px 7px 0;
  color: #fff;
  text-align: right;
}

.container .content__desktop .content__control-top form input::-webkit-input-placeholder {
  color: #DB9351;
  font-family: 'Circe Regular';
  font-size: 14px;
}

.container .content__desktop .content__control-top form input:-ms-input-placeholder {
  color: #DB9351;
  font-family: 'Circe Regular';
  font-size: 14px;
}

.container .content__desktop .content__control-top form input::-ms-input-placeholder {
  color: #DB9351;
  font-family: 'Circe Regular';
  font-size: 14px;
}

.container .content__desktop .content__control-top form input::placeholder {
  color: #DB9351;
  font-family: 'Circe Regular';
  font-size: 14px;
}

.container .content__desktop .content__control-top form input:focus {
  outline: 1px solid #DB9351;
}

.container .content__desktop .content__control-top form span {
  position: absolute;
  top: 0.99rem;
  right: -50px;
  width: 9px;
  height: 1px;
  background: #DB9351;
}

.container .content__desktop .content__control-top form span::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 0px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #DB9351;
  border-right: 1px solid #DB9351;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(310deg);
          transform: rotate(310deg);
}

.container .content__desktop .content__messages table {
  width: 100%;
}

.container .content__desktop .content__messages table tr {
  border-top: 1px solid #242424;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

.container .content__desktop .content__messages table tr:hover {
  border: 1px solid #DB9351;
  border-left: none;
  border-right: none;
}

.container .content__desktop .content__messages table tr td {
  font-weight: normal;
  vertical-align: middle;
  height: 59px;
}

.container .content__desktop .content__messages table tr td a {
  font-weight: bold;
}

.container .content__desktop .content__messages table tr td:first-child input {
  display: none;
}

.container .content__desktop .content__messages table tr td:first-child input + label {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
}

.container .content__desktop .content__messages table tr td:first-child input:checked + label::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(../img/checkbox.svg);
}

.container .content__desktop .content__messages table tr td:nth-child(2) {
  padding-left: 31px;
  position: relative;
  background: url(../img/profile_1.png) no-repeat;
  background-position: 31px 19px;
  padding-right: 15px;
}

.container .content__desktop .content__messages table tr td:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 19px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #242424;
  z-index: -1;
}

.container .content__desktop .content__messages table tr td:nth-child(2).online::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ABDB51;
}

.container .content__desktop .content__messages table tr td:nth-child(3) {
  width: 138px;
  padding-left: 16px;
  text-decoration: underline;
  font-weight: bold;
}

.container .content__desktop .content__messages table tr td:nth-child(4).shop {
  background: url(../img/shopping_cart.svg) no-repeat;
  background-position-y: center;
  text-align: center;
  width: 2%;
}

.container .content__desktop .content__messages table tr td:nth-child(5) {
  position: relative;
  padding-left: 16px;
}

.container .content__desktop .content__messages table tr td:nth-child(5)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  background: #000;
  background: -webkit-gradient(linear, right top, left top, color-stop(17%, #151515), color-stop(55%, #00000002));
  background: linear-gradient(270deg, #151515 17%, #00000002 55%);
}

.container .content__desktop .content__messages table tr:last-child {
  border-bottom: 1px solid #242424;
}

.container .content__desktop .content__messages table tr:last-child:hover {
  border-bottom: 1px solid #DB9351;
}

@media (max-width: 1112px) {
  .container .content__desktop {
    display: none;
  }
}

.container .content__control-bottom {
  margin-top: 51px;
  margin-left: 335px;
}

.container .content__control-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content__control-bottom ul li {
  margin-right: 24px;
}

.container .content__control-bottom ul li.focus {
  position: relative;
}

.container .content__control-bottom ul li.focus a {
  color: #DB9351;
  font-weight: bold;
}

.container .content__control-bottom ul li.focus::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -0.6rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #DB9351;
}

.container .content__control-bottom ul .next_arrow {
  background: url(../img/arrow_next.svg) no-repeat;
  background-position-x: right;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
/*# sourceMappingURL=main.css.map */