@media (max-width: 1112px) {
  .container {
    display: block;
    width: 100%;
    max-width: 1112px;
    margin: 0 auto;
  }
  .container .sidebar {
    position: absolute;
    top: 94px;
    left: -250px;
    z-index: 2;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }
  .container .sidebar.show {
    display: absolute;
    top: 94px;
    left: 0;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }
}

.container .content__mobile {
  display: none;
}

@media (max-width: 1112px) {
  .container .content__mobile {
    display: block;
    margin: 0 10px;
    font-size: 13px;
  }
  .container .content__mobile .content__control-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .container .content__mobile .content__control-top .sidebar__btn {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
  }
}

@media screen and (max-width: 1112px) and (max-width: 1200px) {
  .container .content__mobile .content__control-top .sidebar__btn {
    display: block;
    margin-top: 1%;
  }
}

@media (max-width: 1112px) {
  .container .content__mobile .content__control-top .sidebar__btn.show span:first-of-type {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .container .content__mobile .content__control-top .sidebar__btn.show span:nth-of-type(2) {
    opacity: 0;
  }
  .container .content__mobile .content__control-top .sidebar__btn.show span:last-of-type {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .container .content__mobile .content__control-top .sidebar__btn span {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 30px;
    height: 2px;
    position: absolute;
    top: 0%;
    left: 50%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container .content__mobile .content__control-top .sidebar__btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .container .content__mobile .content__control-top .sidebar__btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .container .content__mobile .content__control-top form {
    width: 100%;
    max-width: 123px;
    position: relative;
  }
  .container .content__mobile .content__control-top form input {
    width: 127%;
    background: transparent;
    border: 1px solid #DB9351;
    margin: 0;
    padding: 7px 27px 7px 0;
    color: #fff;
    text-align: right;
  }
  .container .content__mobile .content__control-top form input::-webkit-input-placeholder {
    color: #DB9351;
    font-family: 'Circe Regular';
    font-size: 14px;
  }
  .container .content__mobile .content__control-top form input:-ms-input-placeholder {
    color: #DB9351;
    font-family: 'Circe Regular';
    font-size: 14px;
  }
  .container .content__mobile .content__control-top form input::-ms-input-placeholder {
    color: #DB9351;
    font-family: 'Circe Regular';
    font-size: 14px;
  }
  .container .content__mobile .content__control-top form input::placeholder {
    color: #DB9351;
    font-family: 'Circe Regular';
    font-size: 14px;
  }
  .container .content__mobile .content__control-top form input:focus {
    outline: 1px solid #DB9351;
  }
  .container .content__mobile .content__control-top form span {
    position: absolute;
    top: 0.99rem;
    right: -50px;
    width: 9px;
    height: 1px;
    background: #DB9351;
  }
  .container .content__mobile .content__control-top form span::before {
    content: "";
    position: absolute;
    top: -2px;
    right: 0px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #DB9351;
    border-right: 1px solid #DB9351;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(310deg);
            transform: rotate(310deg);
  }
  .container .content__mobile .content__control-top .control__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .content__mobile .content__control-top .control__list li {
    margin-right: 20px;
  }
}

@media (max-width: 1112px) and (max-width: 800px) {
  .container .content__mobile .content__control-top .control__list li {
    margin-bottom: 10px;
  }
  .container .content__mobile .content__control-top .control__list li:last-child {
    margin: 0;
  }
}

@media (max-width: 1112px) {
  .container .content__mobile .content__control-top .control__list li:first-child {
    color: #FF5B5C;
  }
  .container .content__mobile .content__control-top .control__list li:nth-child(2) {
    margin-right: 92px;
  }
}

@media (max-width: 1112px) and (max-width: 1112px) {
  .container .content__mobile .content__control-top .control__list li:nth-child(2) {
    margin-right: 20px;
  }
}

@media (max-width: 1112px) {
  .container .content__mobile .content__control-top .control__list li:nth-child(3) {
    color: #DB9351;
  }
}

@media (max-width: 1112px) and (max-width: 800px) {
  .container .content__mobile .content__control-top .control__list li:nth-child(3) {
    margin-right: 30px;
  }
}

@media (max-width: 1112px) {
  .container .content__mobile .content__control-top .control__list li:last-child {
    margin: 0;
  }
}

@media (max-width: 1112px) and (max-width: 800px) {
  .container .content__mobile .content__control-top .control__list {
    display: none;
  }
}

@media (max-width: 1112px) and (max-width: 800px) {
  .container .content__mobile .content__control-top {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    gap: 30px;
  }
}

.container .content__messages .list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border: 1px solid #242424;
  border-left: none;
  border-right: none;
}

.container .content__messages .list__items .item__icon {
  position: relative;
  background: url(../img/profile_1.png) no-repeat;
  background-position: 31px 7px;
  width: 54px;
}

.container .content__messages .list__items .item__icon::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 19px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #242424;
  z-index: -1;
}

.container .content__messages .list__items .item__icon.online::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ABDB51;
}

.container .content__messages .list__items .item__info {
  padding-left: 40px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.container .content__messages .list__items .item__info:first-child {
  text-decoration: underline;
  font-weight: bold;
}

.container .content__messages .list__items .item__info.shop {
  width: 20px;
  background: url(../img/shopping_cart.svg) no-repeat;
  background-position-y: center;
  text-align: center;
  margin-right: -20px;
}

@media (max-width: 753px) {
  .container .content__messages .list__items .item__info.shop {
    display: none;
  }
}

.container .content__messages .list__items .item__info.shop:first-child {
  position: relative;
  padding-left: 20px;
}

.container .content__messages .list__items .item__data {
  text-align: right;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.container .content__messages .list__items .item__data:last-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.container .content__control-bottom {
  margin: 0;
}

.container .content__control-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.container .content__control-bottom ul li {
  margin-right: 15px;
}

.container .content__control-bottom ul li:last-child {
  margin-right: 0;
}

.container .content__control-bottom ul .next_arrow {
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
}
/*# sourceMappingURL=style_mobile.css.map */