@media (max-width: 1112px) {
  .container .sidebar {
    position: absolute;
    top: 94px;
    left: -250px;
    z-index: 2;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }
  .container .sidebar.show {
    display: absolute;
    top: 94px;
    left: 0;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }
}

.container .content__mobile {
  display: none;
}

@media (max-width: 1112px) {
  .container .content__mobile {
    display: block;
    margin: 0 30px;
  }
  .container .content__mobile .content__control-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .container .content__mobile .content__control-top .sidebar__btn {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
  }
}

@media screen and (max-width: 1112px) and (max-width: 1200px) {
  .container .content__mobile .content__control-top .sidebar__btn {
    display: block;
    margin-top: 1%;
  }
}

@media (max-width: 1112px) {
  .container .content__mobile .content__control-top .sidebar__btn.show span:first-of-type {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .container .content__mobile .content__control-top .sidebar__btn.show span:nth-of-type(2) {
    opacity: 0;
  }
  .container .content__mobile .content__control-top .sidebar__btn.show span:last-of-type {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .container .content__mobile .content__control-top .sidebar__btn span {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 30px;
    height: 2px;
    position: absolute;
    top: 0%;
    left: 50%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container .content__mobile .content__control-top .sidebar__btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .container .content__mobile .content__control-top .sidebar__btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .container .content__mobile .content__control-top a {
    position: relative;
    padding: 4px 27px 7px 96px;
    border: 1px solid #DB9351;
    margin: 0;
    color: #DB9351;
  }
  .container .content__mobile .content__control-top a::before {
    content: "";
    position: absolute;
    top: 0.67rem;
    right: 12px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #DB9351;
    border-right: 1px solid #DB9351;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(310deg);
            transform: rotate(310deg);
  }
  .container .content__mobile .content__control-top a::after {
    content: "";
    position: absolute;
    top: 0.77rem;
    right: 12px;
    width: 9px;
    height: 1px;
    background: #DB9351;
  }
  .container .content__mobile .content__control-top .control__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .content__mobile .content__control-top .control__list li {
    margin-right: 20px;
  }
  .container .content__mobile .content__control-top .control__list li:first-child {
    color: #FF5B5C;
  }
  .container .content__mobile .content__control-top .control__list li:nth-child(2) {
    margin-right: 92px;
  }
  .container .content__mobile .content__control-top .control__list li:nth-child(3) {
    color: #DB9351;
  }
  .container .content__mobile .content__control-top .control__list li:last-child {
    margin: 0;
  }
}

@media (max-width: 1112px) and (max-width: 1112px) {
  .container .content__mobile .content__control-top .control__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content__mobile .content__control-top .control__list li {
    margin-bottom: 10px;
  }
  .container .content__mobile .content__control-top .control__list li:last-child {
    margin: 0;
  }
}

@media (max-width: 1112px) {
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    border: 1px solid #242424;
    border-left: none;
    border-right: none;
  }
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:first-child {
    padding-left: 31px;
    position: relative;
    background: url(../img/profile_1.png) no-repeat;
    background-position: 31px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:first-child::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 19px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #242424;
    z-index: -1;
  }
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:first-child.online::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 28px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ABDB51;
  }
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:nth-child(2) {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 0px;
            flex: 2 1 0;
    text-decoration: underline;
    font-weight: bold;
  }
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:nth-child(3).shop {
    width: 20px;
    background: url(../img/shopping_cart.svg) no-repeat;
    background-position-y: center;
    text-align: center;
    margin-right: -20px;
  }
}

@media (max-width: 1112px) and (max-width: 753px) {
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:nth-child(3).shop {
    display: none;
  }
}

@media (max-width: 1112px) {
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:nth-child(4) {
    position: relative;
    padding-left: 20px;
    -webkit-box-flex: 5;
        -ms-flex: 5 1 0px;
            flex: 5 1 0;
  }
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:nth-child(4)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    height: 17px;
    background: #000;
    background: -webkit-gradient(linear, right top, left top, color-stop(17%, #151515), color-stop(55%, #00000002));
    background: linear-gradient(270deg, #151515 17%, #00000002 55%);
  }
  .container .content__mobile .content__messages_mobile .messages_mobile-list ul li:nth-child(5) {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
/*# sourceMappingURL=style_mobile.css.map */